**Total Population**

Taken from https://memoria.ibge.gov.br/sinteses-historicas/historicos-dos-censos/dados-historicos-dos-censos-demograficos.html

In [1]:
#Uploading packages we'll need later

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
#Manually input population data

years = [1900, 1920, 1940, 1950, 1960, 1970, 1980, 1991, 2000, 2010, 2017]
totalpop = [17438434, 30635605, 41165289, 51944397, 70199071, 93139037, 119002706, 146825475, 169799170, 192755799, 208164397]

yeararray = np.asarray(years)
poparray = np.asarray(totalpop)

yeararray.shape, poparray.shape

#Put the arrays together into one dataframe
raw_pop_df = pd.DataFrame({'Year':yeararray, 'Population':poparray})

raw_pop_df = raw_pop_df[['Year','Population']]
raw_pop_df.head()

   Year  Population
0  1900    17438434
1  1920    30635605
2  1940    41165289
3  1950    51944397
4  1960    70199071

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#Clean dataframe and impute missing values
raw_years_df = pd.DataFrame(list(range(1900,2018)), columns=['Year'])
raw_years_df.head()

pop_df = pd.merge(raw_years_df, raw_pop_df, on='Year', how='outer')
pop_df = pop_df.interpolate().round(decimals=0)
pop_df['Population'] = pop_df['Population'].astype(int)
pop_df.head()

pop_df.to_csv('Processed Data/Brazilian Pop 1900 to 2017.csv')
pop_df.head()

   Year  Population
0  1900    17438434
1  1901    18098293
2  1902    18758151
3  1903    19418010
4  1904    20077868

In [4]:
raw_years_df.shape, raw_pop_df.shape, pop_df.shape

((118, 1), (11, 2), (118, 2))

In [5]:
pop_data = str(list(pop_df['Population'].values))
#pop_data.replace(('[', '').replace
#string="abc&def#ghi"
for ch in ['[',',',']']:
    if ch in pop_data:
        pop_data=pop_data.replace(ch,'')
pop_data

#Save population data to a text file
textfile = open('Processed Data/Brazilian Pop 1900 to 2017.txt', 'w')
textfile.write(pop_data)
textfile.close()

In [6]:
#Import migrant stock

#Read in raw migration data
migration_data_raw = pd.read_csv('Raw Data/Migrant Stock/Cleaned Migrant.csv', encoding='latin-1')
migration_data = migration_data_raw.loc[migration_data_raw['Country Name']=='Brazil'].drop(['Indicator Name','Country Code','Indicator Code'], axis=1)
migration_data.head()

#Melt the raw migration data to be in the correct format - year column and stock column
migrant_stock = pd.melt(migration_data, id_vars=["Country Name"], var_name="Year", value_name="Migrant Stock").drop(['Country Name'], axis=1)
migrant_stock['Year'] = migrant_stock['Year'].astype(int)

#Merge to raw years data to be complete
brazil_migrant_stock = pd.merge(raw_years_df, migrant_stock, on='Year', how='left')

#Impute missing data and clean up the dataset.
brazil_migrant_stock = brazil_migrant_stock.interpolate()
brazil_migrant_stock = brazil_migrant_stock.fillna(0).round(decimals=0).astype(int)

brazil_migrant_stock.to_csv('Processed Data/Migrant Stock in Brazil 1900 to 2017.csv')

brazil_migrant_stock.head()

   Year  Migrant Stock
0  1900              0
1  1901              0
2  1902              0
3  1903              0
4  1904              0

In [7]:
#Make a text file of migrant data
brazil_migrant_stock = str(list(brazil_migrant_stock['Migrant Stock'].values))

for ch in ['[',',',']']:
    if ch in brazil_migrant_stock:
        brazil_migrant_stock=brazil_migrant_stock.replace(ch,'')
brazil_migrant_stock

#Save migrant stock data to a text file
textfile = open('Processed Data/Migrant Stock in Brazil 1900 to 2017.txt', 'w')
textfile.write(brazil_migrant_stock)
textfile.close()

In [8]:
#Read in raw economic data
#econonics_raw = pd.read_csv('Raw Data/World Bank Indicators/World Bank Indicators.csv', dtype=str)
#economics_raw

In [9]:
#econonics_raw

In [10]:
#NOPE jk

#Just found some inflation data from the IPEA-DATA website: http://www.ipeadata.gov.br/Default.aspx on the Inflacao - IGP-DI yearly table
#According to the web, the IGP-DI index is cool: https://www.investing.com/economic-calendar/brazilian-igp-di-inflation-index-1560

#We're using it manually.

In [11]:
inflation_raw = pd.read_csv('Raw Data/IPEA-Data/Inflation Rate.csv', dtype=str)

In [12]:
inflation_raw['Year'] = inflation_raw['Year'].astype(int)
inflation_raw.dtypes
#inflation_raw['Inflation Rate'] = inflation_data['Inflation Rate'].str.replace(",","")


inflation_data = pd.merge(raw_years_df, inflation_raw, on='Year', how='outer')
inflation_data['Inflation Rate'] = inflation_data['Inflation Rate'].fillna(0)
inflation_data

     Year Inflation Rate
0    1900              0
1    1901              0
2    1902              0
3    1903              0
4    1904              0
5    1905              0
6    1906              0
7    1907              0
8    1908              0
9    1909              0
10   1910              0
11   1911              0
12   1912              0
13   1913              0
14   1914              0
15   1915              0
16   1916              0
17   1917              0
18   1918              0
19   1919              0
20   1920              0
21   1921              0
22   1922              0
23   1923              0
24   1924              0
25   1925              0
26   1926              0
27   1927              0
28   1928              0
29   1929              0
30   1930              0
31   1931              0
32   1932              0
33   1933              0
34   1934              0
35   1935              0
36   1936              0
37   1937              0
38   1938              0
39   1939              0
40   1940              0
41   1941              0
42   1942              0
43   1943              0
44   1944              0
45   1945          11.11
46   1946          22.22
47   1947           2.73
48   1948           7.96
49   1949          12.30
50   1950          12.41
51   1951          12.34
52   1952          12.72
53   1953          20.51
54   1954          25.86
55   1955          12.15
56   1956          24.55
57   1957           6.96
58   1958          24.39
59   1959          39.43
60   1960          30.47
61   1961          47.78
62   1962          51.60
63   1963          79.92
64   1964          92.12
65   1965          34.24
66   1966          39.12
67   1967          25.01
68   1968          25.49
69   1969          19.31
70   1970          19.26
71   1971          19.47
72   1972          15.72
73   1973          15.54
74   1974          34.55
75   1975          29.35
76   1976          46.26
77   1977          38.78
78   1978          40.81
79   1979          77.25
80   1980         110.24
81   1981          95.20
82   1982          99.72
83   1983         210.99
84   1984         223.81
85   1985         235.11
86   1986          65.03
87   1987         415.83
88   1988        1037.56
89   1989        1782.89
90   1990        1476.71
91   1991         480.23
92   1992        1157.83
93   1993        2708.17
94   1994        1093.89
95   1995          14.78
96   1996           9.34
97   1997           7.48
98   1998           1.70
99   1999          19.98
100  2000           9.81
101  2001          10.40
102  2002          26.41
103  2003           7.67
104  2004          12.14
105  2005           1.22
106  2006           3.79
107  2007           7.89
108  2008           9.10
109  2009          -1.43
110  2010          11.30
111  2011           5.00
112  2012           8.10
113  2013           5.52
114  2014           3.78
115  2015          10.70
116  2016           7.18
117  2017              0

In [14]:
inflation_numbers = str(list(inflation_data['Inflation Rate'].values))

for ch in ["[",']',',', "'"]:
    if ch in inflation_numbers:
        inflation_numbers = inflation_numbers.replace(ch,'')

inflation_numbers

textfile = open('Processed Data/Inflation in Brazil 1900 to 2017.txt', 'w')
textfile.write(inflation_numbers)
textfile.close()